
[submodule "external/iotex-babel-api"]
	path = external/iotex-babel-api
	url = https://github.com/jrynkiew/iotex-babel-api.git
[submodule "external/iotex-analytics"]
	path = external/iotex-analytics
	url = https://github.com/jrynkiew/iotex-analytics.git
[submodule "external/iotex-desktop-wallet-builder"]
	path = external/iotex-desktop-wallet-builder
	url = https://github.com/jrynkiew/iotex-desktop-wallet-builder.git
[submodule "external/pebble-tracker-firmware-builder"]
	path = external/pebble-tracker-firmware-builder
	url = https://github.com/jrynkiew/pebble-tracker-firmware-builder.git
